.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  font-size: inherit;
  line-height: 3em;
  height: 6em !important;
}

mat-form-field .mat-form-field-infix {
  padding: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px !important;
}

.mat-input-wrapper {
  padding: 5px 3px !important;
}
