<div class="example-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Deal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form #dealForm="ngForm" (ngSubmit)="createDeal(dealForm.value)">
          <mat-form-field>
            <input matInput placeholder="Enter Name" required [(ngModel)]="deal.Name" name="Name" />
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Enter Description" required [(ngModel)]="deal.Description" name="Description"> </textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Short Description" required [(ngModel)]="deal.ShortDescription" name="SDescription" />
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Brand" [(ngModel)]="deal.Brand"  (click)="getBrands()" >
              <mat-option *ngFor="let brand of brands" [value]="brand.ID" ngDefaultControl name="Brands">
                {{ brand.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Category" [(ngModel)]="deal.Category" (click)="getCategories()">
              <mat-option *ngFor="let Category of categories" [value]="Category.ID" ngDefaultControl name="Category">
                {{ Category.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Store" (click)="getCategories()">
              <mat-option *ngFor="let store of stores" [value]="store.ID" [(ngModel)]="deal.Store" name="Store" ngDefaultControl>
                {{ store.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Image" [(ngModel)]="deal.Logo">
              <mat-option *ngFor="let image of categories" [value]="12354" ngDefaultControl name="Images">
                <img src="http://elinfinitoindia.in/images/logo.png" alt="" />
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Link" required [(ngModel)]="deal.Url" name="Link" />
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="deal.EndOn" name="EndOn" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="dealForm.invalid">Create</button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
