<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create Brand
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form #brandForm="ngForm" (ngSubmit)="createBrand(brandForm.value)" novalidate>
      <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="brand.Name" name="Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="brand.Image" name="Image" />
      </mat-form-field>
    
      <input #file type="file" accept='image/*' (change)="preview(file.files)" />
      <img [src]="image" height="200" *ngIf="image">
      
      <button mat-raised-button type="submit" [disabled]="brandForm.valid">Submit</button>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create Categories
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <form #categoryForm="ngForm" (ngSubmit)="createCategory(categoryForm.value)" novalidate>
      <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="category.Name" name="Name" />
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="category.Image" name="Image" />
      </mat-form-field> -->
      <mat-form-field>
        <mat-select placeholder="select sub category" [(ngModel)]="category.CatType" name="CatType">
            <mat-option  [value]="1">
              Category
            </mat-option>
            <mat-option  [value]="2">
                Sub Category
              </mat-option>
              <mat-option  [value]="3">
                  Ads Category
                </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="category.CatType == 2 "> 
        <mat-select placeholder="select sub category" [(ngModel)]="category.CatPID" name="parent category">
          <mat-option *ngFor="let item of scategory" [value]="item.ID">
            {{item.Name}}
          </mat-option>
        </mat-select>
        <input matInput placeholder="Select Sub Category" [(ngModel)]="category.CatPID" name="Category" />
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="category.Image" name="Image" />
      </mat-form-field> -->
      <!-- <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="category.Image" name="Image" />
      </mat-form-field> -->
      <button mat-raised-button type="submit" [disabled]="categoryForm.invalid">Submit</button>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create Stores
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <form #brandForm="ngForm" (ngSubmit)="createBrand(brandForm.value)" novalidate>
      <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="brand.Name" name="Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter Name" required [(ngModel)]="brand.Image" name="Image" />
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="brandForm.valid">Submit</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>


<div class="example-container">
  <mat-tab-group (selectedTabChange)="selectTabChange($event)">
    <mat-tab label="Brands">   <mat-list>
      <mat-list-item *ngFor="let data of items">
        <img matListAvatar src="http://elinfinitoindia.in/images/logo.png" alt="...">
        <h3 matLine> {{data.Name}} </h3>
        <p matLine>
          <!-- <span> {{message.CatType}} </span>
          <span class="demo-2"> -- {{message.content}} </span> -->
        </p>
        <button mat-list-item (click)="edit(data)"> Edit </button>
      </mat-list-item>
    </mat-list> </mat-tab>
    <mat-tab label="Categories">   <mat-list>
      <mat-list-item *ngFor="let data of category">
        <img matListAvatar src="..." alt="...">
        <h3 matLine> {{data.Name}} </h3>
        <p matLine>
          <span *ngIf="data.CatType == '1'"> "Parent Category" </span>
          <span *ngIf="data.CatType == '2'" class="subcategory"> "Child Category" </span>
          <span class="demo-2" *ngIf="data.CatType == '3'"> "Ads Category" </span>
        </p>
        <button mat-list-item (click)="edit(data)"> Edit </button>
      </mat-list-item>
    </mat-list> </mat-tab>
    <mat-tab label="Stores">   <mat-list>
      <mat-list-item *ngFor="let data of items">
        <img matListAvatar src="..." alt="...">
        <h3 matLine> {{data.Name}} </h3>
        <p matLine>
          <!-- <span> {{message.CatType}} </span>
          <span class="demo-2"> -- {{message.content}} </span> -->
        </p>
        <button mat-list-item (click)="save()"> Save </button>
      </mat-list-item>
    </mat-list> </mat-tab>
  </mat-tab-group>
</div>
