<div class="datacontainer">
  <mat-card class="datalist">
    <mat-card-header>
      <mat-card-title>Category</mat-card-title>
      <button mat-raised-button class="ct-btn" (click)="createCategoryDialog()">Create Category</button>
      <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list #categorylist>
        <mat-list-option *ngFor="let category of category">
          {{ category }}
        </mat-list-option>
      </mat-selection-list>

      <p>Options selected: {{ categorylist.selectedOptions.selected.length }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>
</div>
