// .datacontainer {
//   // width: 90%;
//   // display: flex;
//   // justify-content: center;
//   width: 50%;
//   display: flex;
//   justify-content: center;
//   margin: auto;
// }

.datalist {
  width: 100%;
}

.ct-btn {
  margin-left: auto;
}

.subcategory {
  color: red;
}
