<div class="example-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Deal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form #dealForm="ngForm" (ngSubmit)="editDeal(dealForm.value)">
          <mat-form-field>
            <input
              matInput
              placeholder="Enter Name"
              required
              [(ngModel)]="deal.Name"
              name="Name"
            />
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Enter Description"
              required
              [(ngModel)]="deal.Description"
              name="Description"
            >
            </textarea>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Enter Short Description"
              required
              [(ngModel)]="deal.ShortDescription"
              name="ShortDescription"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-select
              placeholder="Select Brand"
              [(ngModel)]="deal.Brand"
              name="Brand"
            >
              <mat-option
                *ngFor="let brand of brands"
                [value]="brand.ID"
                ngDefaultControl
              >
                {{ brand.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select
              placeholder="Select Category"
              [(ngModel)]="deal.CategoryID"
              name="CategoryID"
            >
              <mat-option
                *ngFor="let Category of categories"
                [value]="Category.ID"
              >
                {{ Category.Name }} {{ Category.ID }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select
              placeholder="Select SubCategory"
              [(ngModel)]="deal.SubCategoryID"
              name="SubCategoryID"
            >
              <mat-option
                *ngFor="let subcategory of subcategories"
                [value]="subcategory.ID"
              >
                {{ subcategory.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              placeholder="Select Image"
              (selectionChange)="doSomething($event)"
              [(ngModel)]="deal.Logo"
              name="Logo"
            >
              <mat-option
                *ngFor="let image of images"
                [value]="image.key"
                style="height:6em"
                (change)="preview(image)"
              >
                <img
                  src="https://dealslocker.s3.ap-south-1.amazonaws.com/{{
                    image.key
                  }}"
                  alt=""
                  style="width:100px;height:50px;"
                />
                {{ image.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Enter Link"
              required
              [(ngModel)]="deal.Url"
              name="Link"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
              [(ngModel)]="deal.EndOn"
              name="EndOn"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <h4>Selected Image</h4>
          <img [src]="selectedImage" alt="" *ngIf="selectedImage" />
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="dealForm.invalid"
          >
            Create
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
