<div class="example-container">
  <mat-card class="offercard">
    <mat-card-header>
      <mat-card-title>Create ADS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form #adsForm="ngForm" (ngSubmit)="createAds(adsForm.value)" novalidate>
          <mat-form-field>
            <input matInput placeholder="Enter Name" required (ngModel)="ads.Name" name="Name" Name="#ngModel" />
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Enter Description" required (ngModel)="ads.Description" name="Description"> </textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Category" [(ngModel)]="ads.Category" (click)="getCategories()" name="Category">
              <mat-option *ngFor="let Category of categories" [value]="Category.ID" ngDefaultControl >
                {{ Category.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          -->
          <mat-form-field>
            <mat-select placeholder="Select Image" [(ngModel)]="ads.Logo" name="Logo" (selectionChange)="doSomething($event)" >
              <mat-option *ngFor="let image of images" [value]="image.key" ngDefaultControl  style="height:6em">
                <img src="https://dealslocker.s3.ap-south-1.amazonaws.com/{{ image.key }}" style="width:100px;height:50px;"  alt="" />
                {{image.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Link" required [(ngModel)]="ads.Url" name="Url" />
          </mat-form-field>`
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="ads.EndOn" name="EndOn" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
            <h4>Selected Image</h4>
          <img [src]="selectedImage" alt="" *ngIf="selectedImage" />
          <button type="submit" class="btn btn-success" [disabled]="adsForm.invalid">Submit</button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div></div>
